
  <div class="sc-html5-camera">
    <div class="contents">
      <button class="close">✕</button>
      <div>
        <video autoplay></video>
        <img src="">
        <canvas style="display:none;"></canvas>
      </div>
      <div class="controls">
        <button class="take-snapshot">Snapshot</button>
        <button class="use-snapshot" disabled>Use it!</button>
      </div>
    </div>
  </div>
