<!DOCTYPE html>
  <!--TODO(elsigh): <html manifest="/app/manifest.appcache">-->
  <html>
  <head>
    <title>Sporecast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Sporecast is a rain-tracking tool for
        Mushroom hunters.">
    <meta name="keywords" content="mushroom,foraging,rain-tracking">
    <meta name="format-detection"
      content="telephone=no,email=no,address=no">
    <meta name="viewport"
      content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <link rel="shortcut icon" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/offline-theme.css">
  </head>
  <body>
    <div class="sc-app">

      <h1><span>Sporecast</span></h1>

      <div class="sc-take-photo"></div>

      <nav class="sc-tabs-c">
        <div class="sc-tabs">
          <a href="weather" class="weather sc-app-link">Weather</a
            ><a href="mob" class="mob sc-app-link"
            >M. Observer</a
            ><a href="photos" class="photos sc-app-link"
            >Photos</a>
        </div>
      </nav>

      <div class="sc-tab-frame-c">
        <div class="sc-tab-frame">
          <section class="sc-tab sc-tab-weather">
            <div class="sc-weather"></div>
          </section
          ><section class="sc-tab sc-tab-mob">
            <div class="sc-mob"></div>
          </section
          ><section class="sc-tab sc-tab-photos">
            <div class="sc-photos"></div>
          </section>
        </div>
      </div>

      <div class="sc-loading" style="display:none;"></div>
      <div class="sc-msg-c" style="display:none;"><div class="sc-msg"></div></div>
    </div>

    <script src="/js/deps/zepto.js"></script>
    <script src="/js/deps/touch.js"></script>
    <script src="/js/deps/fx.js"></script>
    <script src="/js/deps/lodash.js"></script>
    <script src="/js/deps/backbone.js"></script>
    <script src="/js/deps/backbone.localStorage-min.js"></script>
    <script src="/js/deps/offline.min.js"></script>
    <script src="/js/deps/template.js"></script>

    <script src="/js/sc_templates.js"></script>
    <script src="/js/sc.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/models_sc.js"></script>
    <script src="/js/models.js"></script>
    <script src="/js/views_sc.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/views_html5camera.js"></script>

    <script src="/js/sc_init.js"></script>

  </body>
  </html>
