
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
  background-color: #ccc;
  color: #111;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-shadow: 0 1px 1px #fff;
  line-height: 1.3;
  height: 100%;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
}

body.sc-renderer-webkit {
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/** Firefox OS overlays */
body.sc-os-firefoxos {
  font-size: 12px;
}

body.sc-os-firefoxos select {
  padding-right: 0;
}

button,
button.month-prev,
button.month-next,
select {
  color: #000;
  display: inline-block;
  background-color: #efefef;
  font: inherit;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  outline: none;
  padding: 1em;
  border: 1px solid #aaa;
  border-radius: 3px;
  text-shadow: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
}


select:focus,
button:focus {
  -webkit-box-shadow: 0 0 3px 1px #aaa;
  -moz-box-shadow: 0 0 3px 1px #aaa;
  box-shadow: 0 0 3px 1px #aaa;
}

button.month-prev,
button.month-next {
  background-image: url(../img/down_triangle.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  height: 2.5em;
}

button.month-prev {
  margin: 0 -0.1em 0 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

button.month-next {
  margin: 0 0 0 -0.1em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

button.delete,
button.close {
  background: #aaa;
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  line-height: 1;
  margin: 0;
  opacity: 0.8;
  padding: 0.5em 0.7em;
  position: absolute;
  right: 1.5em;
  top: 1em;
  vertical-align: middle;
}

label.sc-select-c select {
  margin: 0;
  padding: 0.7em 0.5em;
  width: 100%;
}
/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  label.sc-select-c select {
    padding-right: 2em;
  }
}


label.sc-select-c {
  display: inline-block;
  position: relative;
}

label.sc-select-c ~ label.sc-select-c {
  margin-left: 0.1em;
}

label.sc-select-c::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px 0;
  color: #000;
  content: '';
  display: block;
  width: 1.5em;
  background-color: #efefef;
  background-image: url(../img/down_triangle.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 1.2em;
  position: absolute;
  right: 0.2em;
  top: 0;
  bottom: 0;
}

label.sc-select-c > span {
  position: absolute;
  top: -9999px;
}

footer {
  margin-top: 2em;
  font-size: 90%;
  padding: 10px;
  text-align: center;
}

.sc-app h1 {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  font-size: 19px;
  top: 0;
  z-index: 2;
  width: 100%;
  margin: 0;
  padding: 10px 10px 10px 45px;
  background-color: #ccc;
  background-image: url(../img/icon.png);
  background-position: 10px 5px;
  background-repeat: no-repeat;
  background-size: 30px auto;
  font-weight: 400;
  border-bottom: 2px solid #3b97d1;

  /* otherwise it disappears . */
  -webkit-transform: translateZ(0);
}

h1 > a {
  display: inline-block;
}

h2 {
  font-size: 1em;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 300;
}

h3,
h4 {
  padding: 10px 0 10px;
  margin: 0;
  font-weight: 300;
}

a {
  text-shadow: none;
  color: #3b97d1;
}

figure {
  margin: 0;
  padding: 0;
}

table {
  border-radius: 3px;
  width: 100%;
  background: #efefef;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
}

th {
  border-bottom: 2px solid #aaa;
  font-weight: 400;
  text-align: left;
}

td {
  border-top: 1px solid #aaa;
}


form > div {
  margin-bottom: 0.5em;
}


input[type="text"] {
  font-size: 2em;
  width: 60%;
}

.sc-btn,
input[type="submit"],
button {
  background: #3b97d1;
  border: 1px solid #2881b8;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  font-size: 0.8em;

  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.sc-btn:active,
input[type="submit"]:active,
button:active {
  -webkit-box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.2);
}

.sc-remove {
  position: absolute;
  display: inline-block;
  font: inherit;
  font-size: 0.8em;
  border: 0;
  right: 0;
  padding: 3px 7px;
  color: #ccc;
  text-shadow: none;
  background: #aaa;
  border-radius: 2px;
}

.sc-remove:active {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.sc-msg-c {
  display: none;
  position: fixed;
  z-index: 2;
  bottom: 2em;
  width: 100%;
  text-align: center;
}

.sc-msg {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em 1.5em;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #000;
  background: #444;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


/** end scroll table **/


.sc-app nav {
  top: 46px;
  position: fixed;
  width: 100%;
  /* otherwise it disappears . */
  -webkit-transform: translateZ(0);
}

html.sc-app-container,
body.sc-app-container,
.sc-app {
  overflow: hidden;
}

.sc-app form {
  margin-bottom: 10px;
}

.sc-app table {
  margin-bottom: 10px;
}

.sc-tab-frame-c {
  position: absolute;
  top: 85px;  /* 37 + 46 + boxshadow 2px */
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.sc-tab-frame {
  white-space: nowrap;
  height: 100%;

  /* errybody gets their own layer or shit goes crazy */
  -webkit-transform: translateZ(0);
}

.sc-tab-frame.sc-active {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sc-tab {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 0;
  height: 100%;
  width: 100%;
  vertical-align: top;
  white-space: normal;  /* counteracts nowrap on tab-c */

  display: inline-block;

  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.sc-tab-header h2 {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0;
  vertical-align: bottom;
}

.sc-tabs {
  background: #ccc;
  display: table;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.sc-tabs a,
.sc-tabs span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #bbb;
  display: table-cell;
  color: #111;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  width: 1%;
}
.sc-tabs a:last-child,
.sc-tabs span:last-child {
  border-right: 0;
}

.sc-tabs a.selected,
.sc-tabs span.selected {
  -moz-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
}

/* Don't show the photos stuff if we're not in Cordova mode. */
.sc-app:not(.sc-app-cordova) .sc-tabs-c .photos,
.sc-app:not(.sc-app-cordova) .sc-tab-photos,
.sc-app:not(.sc-app-cordova) .sc-take-photo {
  Xdisplay: none;
}

.content {
  padding: 10px;
}

.sc-button-c {
  padding: 10px;
}

.sc-scroll-y {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}



/* Scroll table */
.sc-scroll-table table {
  border: 0;
  margin: 0;
}

.sc-scroll-table-td {
  border: 0;
  padding: 0;
  vertical-align: top;
}

.sc-scroll-table-td th {
  border: 0;
  padding: 0;
}

.sc-scroll-table-td tr:first-child td {
  border: 0;
}

.sc-take-photo {
  background-image: url(../img/camera.png);
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
  z-index: 3;
}

/******************************************************************************/


/*** Page-specific CSS ***/

/* Weather */

.sc-weather .total-rain,
.sc-weather .last-updated {
  position: absolute;
  opacity: 0.6;
  margin-top: 0.5em;
  font-size: 75%;
}
.sc-weather .last-updated {
  right: 1.5em;
}

.sc-weather-prefs {
  font-size: 85%;
}

.sc-weather-data img {
  width: 100%;
}

.sc-weather-data .forecast td {
  background: #FFFFE0;
  opacity: 0.6;
}

.sc-weather-data {
  font-family: "Lucida Console", Monaco, monospace;
}

.sc-weather-data .precip:not(.precip-0) {
  background-color: #33FF99;
}

.sc-weather-data .forecast td {
  border-top-width: 2px;
}

.sc-weather-data .forecast ~ .forecast td {
  border-top-width: 1px;
}

/*
.sc-weather-data tfoot td {
  background: url(../img/wundergroundLogo_white_horz.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
*/

/* Mushroom Observer tab */
.sc-mob .sc-scroll-y {
  border: 1px solid #aaa;
  border-radius: 3px;
}
.sc-mob .credit {
  float: right;
  font-size: 90%;
  margin-top: 1em;
}

.sc-mob-data h3 {
  padding: 10px;
}

.sc-mob-data .observation {
  border: 1px solid #aaa;
  border-left: 0;
  border-right: 0;
  padding: 10px;
}


.sc-mob-data .observation:first-child {
  border-top: 0;
}

.sc-mob-data .observation:last-child {
  border-bottom: 0;
}

.sc-mob-data .observation:last-child {
  margin-bottom: 0;
}

.sc-mob-data .observation a {
  display: block;
}

.sc-mob-data .observation > div {
  margin: 1em 0;
}

.sc-mob-data .observation img {
  width: 100%;
  min-height: 100px;
}

/** Photos tab */
.sc-photos-data {
  margin: 0;
  padding: 0;
}

.sc-photos-data li {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 0.5em 2em;
  position: relative;
  width: 49%;
  vertical-align: top;
}

.sc-photos-data img {
  box-shadow: 1px 1px 3px #aaa;
  min-height: 100px;
  width: 100%;
}

/** Jasmine **/
.jasmine_reporter {
  border: 3px solid #000;
  margin: 100px 0% 0 2em;
  position: fixed;
  z-index: 1000;
  background: #fff;
  width: 90%;
  padding: 10px;
  text-shadow: none;
}

/** Offline **/
.sc-app-container .offline-ui {
  left: 20px;
  right: 20px;
  width: auto;
}

/** HTML5 Camera */
.sc-html5-camera {
  position: fixed;
  cursor: initial;
  background: #aaa;
  opacity: 0.95;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10%;
  text-align: center;
  z-index: 9999;
}

.sc-html5-camera .contents {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #aaa;
  padding: 3em 1em 1em;
  position: relative;
}

.sc-html5-camera video,
.sc-html5-camera img,
.sc-html5-camera canvas {
  display: inline-block;
  width: 49%;
  position: relative;
  vertical-align: top;
}

.sc-html5-camera .controls {
  margin: 1em auto;
}
