  <div class="credit">
    <a href="http://www.mushroomobserver.org/"
      target="_blank">visit mushroomobserver.org</a>
  </div>

  <form class="sc-mob-prefs">
    <label class="sc-select-c">
      <span>Choose a state:</span>
      <select name="state">
        {{#states}}
          <option>{{.}}</option>
        {{/states}}
      </select>
    </label>
  </form>

  <div class="data-c"></div>
